<!DOCTYPE html>
<html class="no-js preload" lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= data.page.title || "Prototype" %></title>
    <meta name="author" content="Prototype">
    <% if data.page.description %>
      <meta name="description" content="<%= data.page.description %>">
    <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-title" content="Prototype">
    <%= stylesheet_link_tag "styles" %>
    <%= javascript_include_tag  "scripts" %>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="">
    <link rel="alternate" type="application/rss+xml" title="Prototype" href="">
  </head>
  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
