---
title: Prototype
description: Prototype page description
---

<a href="#" id="menu">Menu</a>

<ol id="nav" class="closed">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Sub item</a></li>
  <li><a href="#">Sub item</a></li>
  <li><a href="#">Sub item</a></li>
  <li><a href="#">Sub item</a></li>
  <li><a href="#">Sub item</a></li>
</ol>

<h1>Prototype</h1>

<% blog.articles[0...5].each do |article| %>
  <article>
    <h2>
      <a href="<%= article.url %>"><%= article.title %></a>
      <time><%= article.date.strftime('%b %e %Y') %></time>
    </h2>
    <p><%= article.summary %></p>
    <a href="<%= article.url %>">Read more</a>
  </article>
<% end %>
